<section class="resume_wrap">
    <article class="content_wrap">
        <div class="resumeHeader">
            <div>
                <h1>한상현</h1>
                <h5>
                    <a href="mailto:dandan9509@gmail.com">dandan9509@gmail.com</a><br>
                    <a href="tel:010-5392-9950">010-5392-9950</a>
                </h5>
            </div>
            <div class="profile">
                <img src="https://4log.dev/20190605110513/profile_3ver.jpg">
                <img src="https://4log.dev/20190605110513/m_photo.jpg">
            </div>
        </div>
        <div class="resumeSection1">
            <h2>자기소개</h2>
            <hr style="margin:20px 0px;">
            <h2>코딩?</h2>
            <p>
                내가 원하는 것을만들어 줄 수 있게 해준 또 하나의 손 같은 존재입니다.<br>
                에디터를 사용해서 내가 원하는 작업물을 시각적이 아닌 읽어서 만들어 낸다는 느낌은 저한테 정말 좋았습니다.<br>
                컴퓨터를 좋아하는 저한테 적성도 정말 잘 맞았고 그런지 앉아서 몇 시간을 코딩을 해도 지루하지 않고<br>
                이것저것 만져보면서 오류를 해결했을 때 그 기분은 매우 좋아서 저는 코딩을 놓지 못하겠습니다.<br>
                지금의 계획은 Javascript를 좀더 숙련도있게 계속해서 프런트, 백앤드 모두를 움직일수있고 생각대로<br>
                만들어낼수 있는 개발자까지 성장하고싶은 한 사람입니다.<br>
                <br>
                그럼 제가 코딩을 좋아하게된<br>
                저의 짧은 인생사를 소개해볼께요!<br>
                저의 나이는 95년생입니다. 어리다면 어릴수있지만 자신에 대해서 책임을 져야할 나이라고 생각합니다<br>
                20살까지는 어느 목표가없는 평범한 학생이었습니다. 대학교진학은 학비의 부담을 느껴 포기하고 빠른 취업을 생각하고있었죠<br>
                그렇게 21살에 입대를하고 군대에서 많은 것들이 저를 성숙하게 만들어줬습니다.<br>
                22살 겨울에 재대를하고 저는 UIUX디자인(국비훈련) 받게되었습니다.<br>
                디자인을 고등학교 방송부때부터 해왔는데 그 디자인을 텍스트로 하나하나 만드는 재미<br>
                블로그를 운영하는 것에있어서 엄청난 확장성을 느껴서<br>
                그때부터 웹개발자가 되야겠다라고 마음을 먹었습니다.<br>
                <br>
                그렇게 국비훈련을 마치고 구인을하다가 킨스데이즈라는 기업에 컨택을해서<br>
                직원개념이아닌 프리랜서로 프로젝트를 받아서 작업하는 형식으로 일을 시작하게되었습니다.
            </p>
        </div>
        <div class="resumeSection3">
            <hr style="margin:0 0 30px 0">
            <h2>경력사항 / 진행한 프로젝트</h2>
            <div class="timelineWrap">
                <ul class="timeline">
                    <div>업무</div>
                    <li>
                        <p class="timeline-date">2017년5월</p>
                        <div class="timeline-content">
                            <div class="projectName indent">
                                <div class="description block">
                                    <div class="company"><b>UXUI디자인</b> </div>
                                    <div class="date">05월 ~ 12월</div>
                                    <div class="department">웹/앱에 관한 UIUX디자인 국비훈련 이수를 완료하였습니다.</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="timeline-date">2018년3월</p>
                        <div class="timeline-content">
                            <div class="projectName indent">
                                <div class="description">
                                    <div class="desciprtion_inner_wrap">
                                        <div class="company"><b>킨스데이즈</b></div>
                                        <div class="date">03월 ~ 11월</div>
                                        <div class="department">프리랜서</div>
                                    </div>
                                    <div class="arrow_wrap">
                                        <div class="action_wrap normal kinsdayz"><?php echo do_shortcode('[DiviShortcode id="2554"]') ?></div>
                                    </div>
                                </div>
                                <div class="innerProject indent kinsdayz" style="display:none;">
                                    <div class="projectName">
                                        <div>2018.03</div>
                                        <div>
                                            <b><a target="_blank" href="http://blog.mbc.co.kr/" rel="noopener noreferrer"><i
                                                    class="fas fa-link"></i> MBC blog</a></b>
                                        </div>
                                        <p>Tistory 기반의 테마를 수정하는 작업을 하였습니다.</p>
                                    </div>
                                    <div class="projectName">
                                        <div>2018.04</div>
                                        <div>
                                            <b><a class="dis renew" target="_blank" href="http://marblerocket.com" rel="noopener noreferrer"><i
                                                    class="fas fa-link"></i> Marble roket</a></b>
                                        </div>
                                        <p>카페24의 서버에 워드프레스기반의 사이트 전체구현 / 기본쇼핑몰</p>
                                    </div>
                                    <div class="projectName">
                                        <div>2018.05</div>
                                        <div>
                                            <b><a target="_blank" href="http://lkavenue.com" target="_blank" rel="noopener noreferrer"><i
                                                    class="fas fa-link"></i> LK avenue</a></b>
                                        </div>
                                        <p>
                                            서버설치, 워드프레스기반 사이트 전체구현 / 오픈마켓기능 핵심 / 소셜로그인
                                        </p>
                                    </div>
                                    <div class="projectName">
                                        <div>2018.06</div>
                                        <div>
                                            <b><a class="dis close" target="_blank" href="https://brooklynpetco.com/" target="_blank"
                                                  rel="noopener noreferrer"><i class="fas fa-link"></i> brooklynpetco</a></b>
                                        </div>
                                        <p>
                                            서버설치, 워드프레스기반 사이트 구현 / 정기결제기능 핵심
                                        </p>
                                    </div>
                                    <div class="projectName">
                                        <div>2018.07</div>
                                        <div>
                                            <b><a class="hidden" target="_blank" href="https://petnature.kr" rel="noopener noreferrer"><i
                                                    class="fas fa-link"></i></a>펫네이처</b>
                                        </div>
                                        <p>
                                            서버이전 개별페이지별 수정 및 퍼블리싱 / 정기결제기능 핵심
                                        </p>
                                    </div>
                                    <div class="projectName">
                                        <div>2018.09</div>
                                        <div>
                                            <b><a target="_blank" href="https://thetonade.com/" rel="noopener noreferrer"><i
                                                    class="fas fa-link"></i> Thetonade</a></b>
                                        </div>
                                        <p>
                                            카페24의 서버에서 워드프레스기반의 사이트 전체구현 / 정기결제기능 핵심
                                            작업내용 : <a target="_blank"
                                                      href="https://docs.google.com/document/d/1ihkjRWuCLa0_NmTl_XRnTKjO065Qja-uLD7u5YYP1oE/edit?usp=sharing"
                                                      rel="noopener noreferrer">Google docs</a>
                                        </p>
                                    </div>
                                    <div class="projectName">
                                        <div>2018.11</div>
                                        <div>
                                            <b><a target="_blank" href="http://kalascoffee.com" rel="noopener noreferrer"><i
                                                    class="fas fa-link"></i> Kalascoffee</a></b>
                                        </div>
                                        <p>
                                            기존사이트 리뉴얼 / 퍼블리싱 핵심
                                            작업내용 : <a target="_blank"
                                                      href="https://docs.google.com/document/d/1x6DYbYo_KTonoigJzEtbjpRDw3JBingewxJocYWcMWg/edit?usp=sharing"
                                                      rel="noopener noreferrer">Google docs</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="timeline-date">2018년12월</p>
                        <div class="timeline-content">
                            <div class="projectName indent">
                                <div class="description">
                                    <div class="desciprtion_inner_wrap">
                                        <div class="company peterosea"><img
                                                src="https://peterosea.com/wp-content/uploads/2018/10/logo_pr_512.png"><b>Peterosea</b></div>
                                        <div class="date">12월12일 ~ </div>
                                        <div class="department">Publisher</div>
                                    </div>
                                    <div class="arrow_wrap">
                                        <div class="action_wrap normal peterosea_controller">
                                            <?php echo do_shortcode('[DiviShortcode id="2554"]') ?></div>
                                    </div>
                                </div>
                                <div class="innerProject indent peterosea_controller" style="display:none;">
                                    <div class="projectName">
                                        <div>2018.12</div>
                                        <div>
                                            <b><a target="_blank" href="http://intonomad.com" rel="noopener noreferrer"><i
                                                    class="fas fa-link"></i> 인투노마드</a></b>
                                        </div>
                                        <p>
                                            Divi 테마를 이용한 사이트 퍼블리싱
                                        </p>
                                    </div>
                                    <div class="projectName">
                                        <div>2018.12</div>
                                        <div>
                                            <b><a target="_blank" href="http://buildingpoint.co.kr" rel="noopener noreferrer"><i
                                                    class="fas fa-link"></i> Buildingpoint</a></b>
                                            <div class="indent child">
                                                <a target="_blank" href="https://sketchup.buildingpoint.co.kr/" rel="noopener noreferrer"><i
                                                        class="fas fa-link"></i> 스케치업</a><br>
                                                <a target="_blank" href="https://vico.buildingpoint.co.kr/" rel="noopener noreferrer"><i
                                                        class="fas fa-link"></i> 비코오피스</a><br>
                                                <a target="_blank" href="https://scanner.buildingpoint.co.kr/" rel="noopener noreferrer"><i
                                                        class="fas fa-link"></i> 3D스캐너</a><br>
                                                <a target="_blank" href="https://connect.buildingpoint.co.kr/" rel="noopener noreferrer"><i
                                                        class="fas fa-link"></i> 트림블커넥트</a><br>
                                                <a target="_blank" href="https://layout.buildingpoint.co.kr/" rel="noopener noreferrer"><i
                                                        class="fas fa-link"></i> 레이아웃</a>
                                            </div>
                                        </div>
                                        <p>
                                            Divi 기반을둔 퍼블리싱작업 경험
                                        </p>
                                    </div>
                                    <div class="projectName">
                                        <div>2019.01</div>
                                        <div>
                                            <b><a target="_blank" href="http://bnfcamper.kr/login" rel="noopener noreferrer"><i
                                                    class="fas fa-link"></i> 캠퍼 회원관리 시스템</a></b>
                                        </div>
                                        <p>
                                            jQgrid를 활용한 회원관리 시스템 퍼블리싱
                                        </p>
                                    </div>
                                    <div class="projectName">
                                        <div>2019.04</div>
                                        <div>
                                            <b><a target="_blank" href="http://www.gereports.kr/ge-additive-day-2019/"
                                                  rel="noopener noreferrer"><i class="fas fa-link"></i> GE Additive Day 2019</a></b>
                                        </div>
                                        <p>
                                            AWS API Gateway를 이용한 API 제작 경험<br>
                                            <a href="/gravity_form_webhook/">
                                                <i class="fas fa-archive"></i> Wordpress Gravity Forms <i class="fas fa-long-arrow-alt-right"></i>
                                                AWS API <i class="fas fa-long-arrow-alt-right"></i> Stibee API</a>
                                        </p>
                                    </div>
                                    <div class="projectName">
                                        <div>2019.05</div>
                                        <div>
                                            <b><a target="_blank" href="https://newsroom.koscom.co.kr/" rel="noopener noreferrer"><i
                                                    class="fas fa-link"></i> 코스콤 뉴스룸</a></b>
                                        </div>
                                        <p>
                                            Elegantthemes Extra테마를 기반으로 제작<br>
                                            특별한 기능과 새로운 것은 이 프로젝트에서 접하지 못하였지만 3일이라는 시간동안 제작완료해서 컨펌완료하고 1주일동안 피드백을 받으면서 수정한 일정이 빡빡한 프로젝트였다.
                                        </p>
                                    </div>
                                    <div class="projectName">
                                        <div class="repair_ing">
                                            <div>2019.05</div>
                                            <div>
                                                <b><a target="_blank" href="" rel="noopener noreferrer"><i class="fas fa-link"></i> PORSCHE STUDIO
                                                    CHEONGDAM</a></b>
                                            </div>
                                            <p>
                                                제작중
                                            </p>
                                        </div>
                                    </div>
                                    <div class="projectName">
                                        <div class="repair_ing">
                                            <div>2019.05</div>
                                            <div>
                                                <b><a target="_blank" href="" rel="noopener noreferrer"><i class="fas fa-link"></i> 스케치업
                                                    스토어</a></b>
                                            </div>
                                            <p>
                                                제작중
                                            </p>
                                        </div>
                                    </div>
                                    <div class="projectName">
                                        <div class="">
                                            <div>2019.05</div>
                                            <div>
                                                <b><a target="_blank" href="" rel="noopener noreferrer"><i class="fas fa-link"></i>
                                                    VatecENG</a></b>
                                            </div>
                                            <p>
                                                <a href="https://github.com/alvarotrigo/fullPage.js/tree/master/lang/korean">Fullpage.js</a>
                                                라이브러리를 많이 공부할 수 있게해줬던 프로젝트였다.<br>
                                                추후 나중에 풀페이지 스타일의 프로젝트를 한다하면 어떤 제약이있는지 어떤 효과들을 적용해줄 수 있을지 디자인에서 제외되야하는 부분들을 많이 느낄 수 있었다.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="projectName">
                                        <div class="repair_ing">
                                            <div>2019.06</div>
                                            <div>
                                                <b><a target="_blank" href="" rel="noopener noreferrer"><i class="fas fa-link"></i> Peterosea App</a></b>
                                            </div>
                                            <p>
                                                React + Firebase<br>
                                                Google Calendar API<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>

                <ul class="timeline">
                    <div>개인작업</div>
                    <li>
                        <p class="timeline-date">2018년9월</p>
                        <div class="timeline-content">
                            <div class="projectName indent">
                                <div class="description block">
                                    <div>

                                    </div>
                                    <div class="company"><b><a target="_blank" href="https://kihyeon.page" target="_blank" rel="noopener noreferrer"><i
                                            class="fas fa-link"></i> PageI | 同價紅裳</a></b></div>
                                    <div class="date">2018년09월3일 ~ ing</div>
                                    <div class="department">산업디자인 학부생 김기현 포트폴리오 정리웹사이트</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="resumeSection4">
            <p class="slogan">
                내가 가진 것은 꾸준함 밖에 없다.
            </p>
        </div>
        <span class="editCommit">update : 2019.07.06(토)</span><br>
        <span class="editCommit up">제작 : 2018.12.04(화)</span>
    </article>
</section>