//resume
body.dark .resume_wrap{
    background: $D_post;
    @include media("(max-width: 1360px)"){
        div[class*='resumeSection']{background:rgba(33,33,33,.4)}
    }
}
body.light .resume_wrap{
    background: $L_post;
    @include media("(max-width: 1360px)"){
        div[class*='resumeSection']{background:rgba(255,255,255,.4)}
    }
}

.resume_wrap{
    margin: 100px auto;
    padding-top: 20px;
    border-radius: 15px;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1240px;
    position: relative;
    *[id^='readlink']{padding-left:0 !important;}

    //content
    .content_wrap {

        .resumeHeader{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:0 20px;

            div h5{
                color:#666 !important;
                line-height: 1.2em;
                font-weight: normal;
            }
            .profile{
                font-size: 0;
                img{width:100px;}
                img:nth-of-type(1){border-radius:10px 0 0 10px;}
                img:nth-of-type(2){border-radius:0 10px 10px 0;}
            }
        }
        @include media("(max-width: 540px)"){
            .resumeHeader{
                flex-direction: column;
                align-items: flex-start;
            }
        }
        div[class*='resumeSection']{padding:20px;}
        @include media("(max-width: 1360px)"){
            div[class*='resumeSection']{
                position:relative;
                z-index:2;
                margin-bottom:20px;
            }
        }
        .innerProject{
            padding-left:20px;
            .projectName{
                margin-bottom:20px;
                &:nth-of-type(1){
                    margin-top:20px;
                }
            }
        }
        .slogan{
            font-size: 1.8rem;
            font-weight: bold;
            color: #fff !important;
            margin-bottom: 0 !important;
            font-family: 'Yeon Sung', cursive;
            text-shadow: 3px 3px 0 green, -1px -1px 0 green, 1px -1px 0 green, -1px 1px 0 green, 1px 1px 0 green;
            position:relative;
            z-index:3;
        }
        .editCommit{
            display: inline-block;
            margin-top: 30px;
            color: #999 !important;
            padding-left: 3px;
        }
        .editCommit.up{
            margin-top: 0;
            padding-left: 20px;
        }
    }
    //green ani
    .green-ani{
        position: absolute;
        bottom: 0px;
        right: 0px;
        margin: 0;
        margin-bottom: 0 !important;

        div#canvas_container_div{
            max-width:500px;
            max-height:500px;
            position:relative;

            #canvas{
                width:100% !important;
                height:100% !important;
            }
        }
    }
    @include media("(max-width: 540px)") {
        .green-ani {
            max-width: 100%;
            max-height: 100%;

            div#canvas_container_div {
                max-width: 100%;
                max-height: 100%;

                #canvas {
                    max-height: 80%;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
}
