$code_color1: #f8f8f2;
$code_color2: #6272a4;
$code_color3: #ff79c6;
$code_color4: #8b080b;
$code_color5: #3b3a32;
$code_color6: #f8f8f0;
$code_color7: #bd93f9;
$code_color8: #f1fa8c;
$code_color9: #50fa7b;
$code_color10: #8be9fd;
$code_background_color_1: #ffffcc;
$code_background_color_2: #282a36;
$code_background_color_3: #468410;
$code_background_color_4: #32343f;
$code_background_color_5: #ff79c6;

@mixin dracula() {
	.highlight {
		color: $code_color1 !important;
		background-color: $code_background_color_2 !important;
		pre {
			background: #282a36 !important;
			color: $code_color1 !important;
		}
		table {
			background: #282a36 !important;
			color: $code_color1 !important;
		}
		.pl-smi {
			color: $code_color1 !important;
		}
		.pl-s {
			.pl-s1 {
				color: $code_color1 !important;
			}
			color: $code_color8 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-hll {
			background-color: $code_background_color_1 !important;
		}
		.pl-c {
			color: $code_color2 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-err {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-g {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-k {
			color: $code_color3 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-l {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-n {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-h {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-o {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-x {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-p {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-cm {
			color: $code_color2 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-cp {
			color: $code_color3 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-c1 {
			color: $code_color2 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-cs {
			color: $code_color2 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-gd {
			color: $code_color4 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-ge {
			color: $code_color1 !important;
			text-decoration: underline !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-gr {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-gh {
			color: $code_color1 !important;
			font-weight: bold !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-gi {
			color: $code_color1 !important;
			font-weight: bold !important;
			background-color: $code_background_color_3 !important;
		}
		.pl-go {
			color: $code_color5 !important;
			background-color: $code_background_color_4 !important;
		}
		.pl-gp {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-gs {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-gu {
			color: $code_color1 !important;
			font-weight: bold !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-gt {
			color: $code_color6 !important;
			background-color: $code_background_color_5 !important;
		}
		.pl-kc {
			color: $code_color3 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-kd {
			color: $code_color3 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-kn {
			color: $code_color3 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-kp {
			color: $code_color3 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-kr {
			color: $code_color3 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-kt {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-ld {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-m {
			color: $code_color7 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-na {
			color: $code_color9 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-nb {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-nc {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-no {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-nd {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-ni {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-ne {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-nf {
			color: $code_color9 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-nl {
			color: $code_color8 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-nn {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-nx {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-py {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-nt {
			color: $code_color3 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-nv {
			color: $code_color10 !important;
			font-style: italic !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-ow {
			color: $code_color3 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-w {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-mf {
			color: $code_color7 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-mh {
			color: $code_color7 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-mi {
			color: $code_color7 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-mo {
			color: $code_color7 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-sb {
			color: $code_color8 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-sc {
			color: $code_color8 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-sd {
			color: $code_color8 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-s2 {
			color: $code_color8 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-se {
			color: $code_color8 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-sh {
			color: $code_color8 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-si {
			color: $code_color8 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-sx {
			color: $code_color8 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-sr {
			color: $code_color8 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-s1 {
			color: $code_color8 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-ss {
			color: $code_color8 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-bp {
			color: $code_color1 !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-vc {
			color: $code_color10 !important;
			font-style: italic !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-vg {
			color: $code_color10 !important;
			font-style: italic !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-vi {
			color: $code_color10 !important;
			font-style: italic !important;
			background-color: $code_background_color_2 !important;
		}
		.pl-il {
			color: $code_color7 !important;
			background-color: $code_background_color_2 !important;
		}
	}
	pre {
		background: #282a36 !important;
		color: $code_color1 !important;
	}
}

.dark{
	@include dracula;
}