/********************************************************
	
	#구조 #뼈대
	
*********************************************************

	01.00 - HEADER
	02.00 - FOOTER

*********************************************************/

html,
body {
  min-height: 100%;
}

/*---------------------------------------------------
	01.00 - HEADER
---------------------------------------------------*/
body.et_vertical_nav #page-container #main-header {
  position: fixed;
}
body .et_mobile_menu {
  max-height: calc(100vh - 92px);
  overflow-y: scroll;
}
body #top-menu .sub-menu{
  border-color: $pointcolor;
}
// LOGO
body #main-header .logo_container{
  width:100%;
  img#logo{margin-bottom: 40px;}
}