/********************************************************
	
				CONTENTS LIST
	
*********************************************************

    01.00 GENERAL & BASIC STYLES
        01.01 - TYPOGRAPHY                    
        01.02 - LAYOUT
        01.03 - HEADER & FOOTER & NAVIGATION
        01.04 - POST

    02.00 DIVI LIBRARY
        02.01 - [ 포스트 | CPT ] 글
        02.02 - [ 포스트 | Taxonomy ] Server&nas
        02.03 - [ 포스트 | Taxonomy ] 블로그
        02.04 - [ 포스트 | Taxonomy:Tag ] 태그전체
        02.05 - [ 포스트 | Taxonomy:module ] 기본 (섬네일 off)
        02.06 - [ Docs | Taxonomy&Page ] 기본

*********************************************************/


/*---------------------------------------------------

    01.00 - GENERAL & BASIC STYLES
    
    Font Size : 13px, 16px, 20px, 24px ...

---------------------------------------------------*/

/* 	본문 폰트 : 영문 Montserrat, 한글 노토 산스 */
body, div, a, span, p, input, td, label, li, b{
    font-family: 'Noto Sans KR', sans-serif;
}


/* 	제목 폰트 : 영문 Montserrat, 한글 나눔스퀘어 */
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .header a,
strong, b, textarea, select, input{
    font-family: 'Noto Sans KR', sans-serif !important;
    word-break: keep-all;
    line-height: 1.4em;
}

a, a:focus{
    outline: 0 !important;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    letter-spacing: -0.02em;
    word-break: keep-all;
    line-height: 1.4em;
}

strong, b {
    font-weight: 700 !important;
    line-height: 1.4em;
}

.cursor{
    cursor: pointer;
}




    /*---------------------------------------------------
        01.01 - TYPOGRAPHY  
    ---------------------------------------------------*/
    // light color var
    $L_default: #666;
    $L_bold: #333;
    $L_bg: #f2f4f7;
    $L_header: #fff;
    $L_post: #fff;
    $L_border: #c5c5c5;
    // dark color var
    $D_default: #c5c5c5;
    $D_bold: #ebebeb;
    $D_black: #000;
    $D_bg: #1c1c1c;
    $D_post: #212121;
    $D_header: #131313;

    // divi content bg remove
    #main-content{background-color: transparent}
    .et_pb_section{background-color: transparent;}

    body.light{
        background-color: $L_bg;
        color: $L_default;
        
        a{color: $L_default;}
        p{color: $L_default}
        h1, h2, h3, h4, h5{color: $L_bold;}
        .et_pb_bg_layout_dark{
            color: $L_bold !important;
            h1, h2, h3, h4, h5{color: $L_bold !important;}
        }

        .et_pb_section{background-color: $L_bg;}
        #main-content .container:before{background-color: $L_border;}
    }

    body.dark{
        background-color: $D_bg;
        color: $D_default;

        a{color: $D_default}
        p{color: $D_default}
        h1, h2, h3, h4, h5{color: $D_bold;}

        .et_pb_section{background-color: $D_bg;}
        #main-content .container:before{background-color: $D_black;}
    }

    body .et_pb_cpt_text a{
        position: relative;

        &:hover{
            text-decoration: none;
            &::after{
                opacity: 1;
                bottom: 0;
            }
        }
        &::after{
            content: '';
            background: #eb5255;
            width: 100%;
            position: absolute;
            height: .3em;
            bottom: .2em;
            left: 0;
            opacity: .4;
            transition: all .5s;
        }
        &.anchor::after{content: none;}
    }



    /*---------------------------------------------------
        01.02 - LAYOUT
    ---------------------------------------------------*/
    .fullpage .et_pb_row{
        max-width: none;
        width: 100%;
        padding: 0 20px;
    }

    /*---------------------------------------------------
        01.03 - HEADER & FOOTER & NAVIGATION
    ---------------------------------------------------*/

    //page disable setting
    .et_vertical_nav #page-container #main-header{
        transition: all .5s;

        &.click{left: -225px;}
    }

    #top-menu{
        i{
            margin-right: 6px;
            text-align: center;
            width: 24px;
        }
    }

    .et_pb_widget_area_left{
        border: none;
        border-left: 1px solid rgba(0,0,0,.1);
        padding-right: 0;
        padding-left: 30px;
    }

    // mobile menu 
    @include media("(max-width:980)"){
        .et_header_style_left #et-top-navigation, .et_header_style_left .et-fixed-header #et-top-navigation{padding-top:24px !important;}
        .et_header_style_left #logo, .et_header_style_split #logo{max-width: 30%;}
    }




    /*---------------------------------------------------
        01.04 - POST
    ---------------------------------------------------*/

    /* global */
    span.author.vcard{float:left;}

    .et_pb_post_title.et_pb_featured_bg{background-position: top center;}

    /* mac */
    .read-link {padding-left: 0 !important;}
    .alfred{
        li{
            margin-bottom: 20px;

            i:nth-of-type(1) {color: $pointcolor;}
            article>p {display: inline-block;margin: 0;}
        }
        .alf-title {width: 100px;display: inline-block;}
    }
    .al-img{
        overflow: hidden;

        img {width: 50px;display: block;margin: auto;margin-bottom: 10px;}
        div {float: left;padding: 10px;}
    }
    body.post-mac-001 section{overflow:hidden;}

    /**/
    blockquote{
        background: linear-gradient(to right, #212121,#4c4c4c);
        padding: 15px 20px 20px 20px;
        color: #e0e0e0;
        border-radius: 5px;
        box-shadow: 5px 10px 20px rgba(0,0,0,.2);
    }



/*---------------------------------------------------

        02.00 DIVI LIBRARY

---------------------------------------------------*/



    /*---------------------------------------------------
        02.01 - [ 포스트 | CPT ] 글
    ---------------------------------------------------*/

    // thumbnail on
    .fallex {padding-top: 30% !important;}

    // no_thumbnail disable
    body.no_thumbnail .post_featured_thumbnail{display: none !important;}

    // thumbnail disable
    @include media ("(min-width:981px)"){
        .blog_list .et_pb_column_single{
            padding: 0;
        }
    }
    .blog_list{
        .et_pb_row{padding-top:0;padding-bottom: 16px;}
        .cpt_title{
            display: inline-block;
            padding-right: 10px;
            font-size: 18px;
            padding-bottom: 0;
        }
        .et_pb_title_meta_container{
            display: inline-block;
        }
    }
    @include media("(min-width: 1600px)"){
        .blog_list .cpt_title{padding-bottom: 0;}
        .et_pb_cpt_loop_archive .et_pb_title_meta_container{color:#000}
    }

    // post container
    body.dark .post_content_box{background-color: $D_post;}
    body.light .post_content_box{background-color: $L_post;}
    body #main-content .post_content_box{
        padding: 3%;
        border-radius: 8px;
        box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
    }

    
    
    /*---------------------------------------------------
        02.02 - [ 포스트 | Taxonomy ] Server&nas
    ---------------------------------------------------*/

    // 위젯관련 스타일
    .server_sidebar > div{
        width: 100% !important;
        margin: 0 !important;
    }
        // ssh
        body.category-linux-ubuntu{
            .ssh{ display: block; }
            .docker, .synology{ display: none; }
        }
        // docker
        body.category-docker{
            .docker{ display: block; }
            .ssh, .synology{ display: none; }
        }
        // synolog nas
        body.category-nas{
            .synology{ display: block; }
            .dokcer, .ssh{ display: none; }
        }



    /*---------------------------------------------------
        02.03 - [ 포스트 | Taxonomy ] 블로그
    ---------------------------------------------------*/
    .desk_view .et_pb_section{background:transparent !important;}
    .et_pb_cpt_loop_archive.desk_view{margin-bottom:50px !important;}

    /* btn */
    .btn-cs .button{
        font-size: 14px !important;
        margin-top: 0;
        margin-bottom: 20px;

        &:hover{
            background-color:#212121;
            border-radius: 3px;
        }
        &:after{
            line-height: 21px;
            font-size: 16px;
            vertical-align: middle;
        }
        p:nth-of-type(2){text-align: right;}
    }


    // 책상 벳지
    .region_badge{
        position: absolute;
        bottom: 10px;
        color: white;
        background: #eb5255;
        padding-left: 4px;

        &:after, &:before{
            content: '';
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            bottom: 0;
            right: -20px;
            border-right: 20px solid transparent;
        }
        &:after{border-bottom: 23px solid #eb5255;}
        &:before{border-top: 23px solid #eb5255;}
    }
    // 책상 날짜
    .desk_date{
        position: absolute;
        bottom: 36px;
        left: 4px;
    }



    /*---------------------------------------------------
        02.04 - [ 포스트 | Taxonomy:Tag ] 태그전체
    ---------------------------------------------------*/
    // 하우투?
    body.tag-how-to-guide{
        .writing{
            display: none;

            ul{
                list-style: disc !important;
                padding-left: 20px !important;
            }
            &>p{
                border-bottom: 1px dashed $border-color;
                padding: 10px 0;
                margin-bottom: 20px;
                font-style: italic;
                font-size: 12px;
            }
            .content p{font-size: 12px;}
        }
    }
    body.tag-reference .reference,
    body.tag-how-to-guide .how-to{display: block !important;}



    /*---------------------------------------------------
        02.05 - [ 포스트 | Taxonomy:module ] 기본 (섬네일 off)
    ---------------------------------------------------*/
    // infiniti scroll, disable pagena
    .pagination.clearfix{display: none !important;}

    // tags setting
    $dark-tag_bg : #2b2b2b;
    $light-tag_bg : transparent;
    
    // dark mode
    body.dark .grid_tag .tag_item{ 
        background: $dark-tag_bg; 
        border: 2px solid $dark-tag_bg;
    }
    // light mode
    body.light .grid_tag .tag_item{
        background: $light-tag_bg;
        border: 2px solid $border-color;
    }

    // post tag
    .grid_tag{
        display: flex;
        align-items: center;

        i{margin-right: 8px;}
        .tag_item{
            font-size: 12px;
            padding: 0px 8px;
            margin-right: 5px;
            border-radius: 5px;
            transition: all .5s;
            cursor: pointer;

            &::before{
                content: '\f292';
                font-weight: 600;
                font-style: normal;
                font-variant: normal;
                font-size: 12px;
                font-family: "Font Awesome 5 Free";
                margin-right: 2px;
                display: inline-block;
                text-rendering: auto;
                transition: color .5s;
            }
        }
    }
    body .grid_tag .tag_item:hover{
        border: 2px solid $pointcolor;

        &::before{
            color: $pointcolor;
        }
    }

    // dark mode
    body.dark .tagcloud a{
        background: $dark-tag_bg; 
        border: 2px solid $dark-tag_bg;
    }
    // light mode
    body.light .tagcloud a{
        background: $light-tag_bg; 
        border: 2px solid $border-color;
    }

    // tag clude
    .tagcloud a{
        padding: 3px 8px;
        margin-right: 5px;
        border-radius: 5px;
        transition: all .5s;
        cursor: pointer;

        &::before{
            content: '\f292';
            font-weight: 600;
            font-style: normal;
            font-variant: normal;
            font-size: 10px;
            font-family: "Font Awesome 5 Free";
            margin-right: 2px;
            display: inline-block;
            text-rendering: auto;
        }
    }
    body .tagcloud a:hover{border: 2px solid $pointcolor;}



    /*---------------------------------------------------
        02.06 - [ Docs | Taxonomy&Page ] 기본
    ---------------------------------------------------*/
    //  02.06.01 - [ 레이아웃 | PreContent ] DocsMenu
    .docs_menu{
        //setting
        padding: 0 !important;
        margin: 0;
        z-index: 99999;
        *{padding: 0;margin: 0;}
        .menu_inner{
            width: 100%;
            > .et_pb_column{all:unset;}
        }
        .et_pb_row *{padding: 0; margin: 0;}

        //style go!

        position: fixed;
        height: 100%;
        transition: left .5s;
        //position
        left: 225px;
        &.main_disable{left: 0px;}

        .menu_inner{
            display: flex;
            width: 225px;
            height: 100%;
            padding: 0 !important;

            div[class*="menu_colum"]{
                transition:width .5s;
                box-sizing: border-box;
                padding: 0 20px;
                padding-top: 40px;
                height: 100%;
            }
            .menu_colum1{
                width: 225px;
                box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .2);
            }
        }
    }
    .docs_content{
        padding: 0 !important;
        //sub_menu
        .sub_menu{
            position: fixed;
            left: 450px;
            z-index: 1;
            margin: 0;
            padding: 0;
            padding-top: 40px;
            height: 100%;
            width: 225px;
            box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.4);
            transition: all .5s;

            .docs_sub_list{
                padding: 0 20px;
            }
        }
        //
        .content_wrap{
            width: 100%;
            padding-top: 4%;
        }
    }
    body.page-library, body.tax-library, body[class*='docs-']{
        //test용
        #et-main-area{
            margin-left: 675px !important;
            transition: margin-left .5s;
        }
        #et-main-area.oneColum{
            margin-left: 450px !important;

            .sub_menu{
                left: 225px;
            }
        }
        #et-main-area.threeColum{
            margin-left: 675px !important;
        }
    }
    body.page-library{
        #et-main-area{
            margin-left: 450px !important;
            transition: margin-left .5s;
        }
    }
    // menu close button animation
    .action_wrap{
        position: absolute;
        bottom: 32px;
        padding: 0 !important;

        @import 'arrow_animation.scss';

        .arrow{
            position: absolute;
            bottom: 0;
            left: -64px;
            transition: all .5s;
            opacity: 1;

            &.click{
                left: -64px !important;
                opacity: 0;
            }
            &.not_click{
                left: 20px;
            }
            &.left{left:20px;}
            &.right{opacity: 0;}
        }
    }